@media (max-width: 992px) {

  .btn[dusk='resource-index-button'] {
    font-weight: bolder;
    font-size: 26px;
    padding: 0 12px;
    width: 39px;
    overflow: hidden;
  }

  .btn[dusk='resource-index-button']::before {
    content: "+";
    position: relative;
  }

  html:not([dir="rtl"]) .btn[dusk='resource-index-button']::before {
    margin-right: 20px;
  }

  html[dir="rtl"] .btn[dusk='resource-index-button']::before {
    margin-left: 20px;
  }

}
